body{
    background: rgb(226, 223, 223);
}
.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 6rem;
 

}
.namee, .email, .passward, .text-area{
    font-weight: 700;
    margin-top: 1rem;
    color: rgb(3, 3, 3);
}
.name1, .email1, .passward1, .text-area2{
    height: 1.5rem;
}
.text-area2{
    height: 5rem;
    width: 15rem;
}
.btn{
    margin-top: 1rem;
    height: 2rem;
    width: 7rem;
    font-weight: 700;
}
.btn:hover{
    background: rgb(131, 129, 129);
    color: white;
}